
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,

body { display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Source Code Pro,monospace;
   --bs-body-bg: #060026 ;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
span{
  display: black;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #242424;
  }
}
.App {z-index: 1;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: "Source Code Pro","monospace";
  text-align: center;
  background-color: #242424;
  width: 100%;
  height: 100%;

}
:root{
  --bg-color:hsl(49 37% 94%);
  --typewriterSpeed:2s;
  --typewriterCharacters:24;

    --btn-color:white;
    --btn-bg: black;
    --btn-bg-hover: white;
    --btn-color-hover: #fff;
    --bs-body-bg:#242424;
  
}

.tittlestyle{
  width: 250px;
  font: "montserrat";
color: white;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1em;
    margin: 0px;
    
  margin-top: 30px;
  padding-bottom: 3px;
  border-bottom:solid green 2px;
  

}
